.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video iframe {
  width: 100%;
  height: 250px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 15px auto;
  word-wrap: break-word;
  border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

.title {
  margin: 10px 0;
}

.description {
  margin: 10px 0;
}
